In [3]:
import requests
import pandas as pd
api_key = '08e2d2a138dba992cc772bd27479aade'
screener = requests.get(f'https://financialmodelingprep.com/api/v3/stock-screener?marketCapMoreThan=1000000000&sector=Technology&exchange=NASDAQ&limit=10&apikey={api_key}').json()


tickers = []
for item in screener:
  tickers.append(item['symbol'])
#printing the tickers
#will append all the company names in the tickers
companies = {}
for ticker in tickers:
  BS = requests.get(f'https://financialmodelingprep.com/api/v3/balance-sheet-statement/{ticker}?limit=2&apikey={api_key}').json()

  IS = requests.get(f'https://financialmodelingprep.com/api/v3/income-statement/{ticker}?limit=1&apikey={api_key}').json()

  companies[ticker] = {}
  #creating a empty nested dictionary
  
  average_inventory = (BS[1]['inventory'] + BS[0]['inventory']) / 2

  companies[ticker]['avg_Inventory'] =  average_inventory

  COGS = IS[0]['costOfRevenue']
  companies[ticker]['COGS'] = COGS
  try:
    companies[ticker]['inventory_Turnover'] = companies[ticker]['COGS'] / companies[ticker]['avg_Inventory']
    companies[ticker]['DOH'] = 365 / companies[ticker]['inventory_Turnover'] 
  
  except:
    companies[ticker]['inventory_Turnover'] = 0
    companies[ticker]['DOH'] = 0



print(companies)

inventory_Analysis = pd.DataFrame.from_dict(companies)
print(inventory_Analysis)

inventory_Analysis['mean'] = inventory_Analysis.mean(axis=1)

pd.options.display.float_format = "{:,.2f}".format 
inventory_Analysis.iloc[2:]

{'AAPL': {'avg_Inventory': 4083500000.0, 'COGS': 169559000000, 'inventory_Turnover': 41.52295824660218, 'DOH': 8.790317824474077}, 'MSFT': {'avg_Inventory': 1979000000.0, 'COGS': 46078000000, 'inventory_Turnover': 23.283476503284486, 'DOH': 15.676353140327272}, 'NVDA': {'avg_Inventory': 1402500000.0, 'COGS': 6279000000, 'inventory_Turnover': 4.4770053475935825, 'DOH': 81.52771141901577}, 'ASML': {'avg_Inventory': 4189300000.0, 'COGS': 7181300000, 'inventory_Turnover': 1.714200463084525, 'DOH': 212.92725551084064}, 'ADBE': {'avg_Inventory': 0.0, 'COGS': 1722000000, 'inventory_Turnover': 0, 'DOH': 0}, 'INTC': {'avg_Inventory': 8585500000.0, 'COGS': 34255000000, 'inventory_Turnover': 3.9898666356065458, 'DOH': 91.48175448839586}, 'CSCO': {'avg_Inventory': 1332500000.0, 'COGS': 17618000000, 'inventory_Turnover': 13.221763602251407, 'DOH': 27.605999545918948}, 'AVGO': {'avg_Inventory': 938500000.0, 'COGS': 10372000000, 'inventory_Turnover': 11.05167820990943, 'DOH': 33.02665831083687}, 'TXN': {'avg_Inventory': 1978000000.0, 'COGS': 5192000000, 'inventory_Turnover': 2.6248736097067744, 'DOH': 139.05431432973808}, 'QCOM': {'avg_Inventory': 1999000000.0, 'COGS': 9255000000, 'inventory_Turnover': 4.629814907453727, 'DOH': 78.83684494867639}}
                            AAPL          MSFT  ...           TXN          QCOM
avg_Inventory       4.083500e+09  1.979000e+09  ...  1.978000e+09  1.999000e+09
COGS                1.695590e+11  4.607800e+10  ...  5.192000e+09  9.255000e+09
inventory_Turnover  4.152296e+01  2.328348e+01  ...  2.624874e+00  4.629815e+00
DOH                 8.790318e+00  1.567635e+01  ...  1.390543e+02  7.883684e+01

[4 rows x 10 columns]

                    AAPL  MSFT  NVDA   ASML  ...  AVGO    TXN  QCOM  mean
inventory_Turnover 41.52 23.28  4.48   1.71  ... 11.05   2.62  4.63 10.65
DOH                 8.79 15.68 81.53 212.93  ... 33.03 139.05 78.84 68.89

[2 rows x 11 columns]